<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="author" content="John Doe">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>AnalogPen Template</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="../../static/home/images/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="../../static/home/images/favicon.ico" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="../../static/home/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../static/home/css/icofont.css">
    <link rel="stylesheet" href="../../static/home/css/magnific-popup.css">
    <link rel="stylesheet" href="../../static/home/css/animate.css">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="../../static/home/css/normalize.css">
    <link rel="stylesheet" href="../../static/home/style3.css">
    <link rel="stylesheet" href="../../static/home/css/responsive.css">
    <script src="../../static/home/js/vendor/modernizr-2.8.3.min.js"></script>

    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target=".mainmenu-area">
    <!--Preloader-->
    <div class="preloader">
        <div class="spinner"></div>
    </div>

    <!-- Mainmenu-Area -->
    <nav class="navbar mainmenu-area" data-spy="affix" data-offset-top="197">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="search-box" class="collapse">
                        <form action="#">
                            <input type="search" class="form-control" placeholder="What do you want to know?">
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="navbar-header smoth">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainmenu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span> 
                        </button>
                        <a class="navbar-brand" href="#home-area"><img src="../../static/home/images/logo.png" alt=""></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-right" id="mainmenu">
                        <ul class="nav navbar-nav navbar-right help-menu">
                            <li><a href=""><i class="icofont icofont-user-alt-4"></i></a></li>
                            <li><a href="#search-box" data-toggle="collapse"><i class="icofont icofont-search-alt-2"></i></a></li>
                            <li class="select-Country">
                                <select name="counter" id="counter">
                                        <option value="ENG">ENG</option>
                                        <option value="BEN">BEN</option>
                                        <option value="ARA">ARA</option>
                                        <option value="ARG">ARG</option>
                                        <option value="CHV">CHV</option>
                                </select>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav primary-menu">
                            <li class="active"><a href="#home-area">Home</a></li>
                            <li><a href="#service-area">Services</a></li>
                            <li><a href="#team-area">Team</a></li>
                            <li><a href="#price-area">Price</a></li>
                            <li><a href="#contact-area">Contact</a></li>
                            <li><a href="{% url 'register-page' %}">Register</a></li>
                            <li><a href="{% url 'login-page' %}">LogIN</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Mainmenu-Area-/ -->


    <!--Header-Area-->
    <header class="header-area overlay" id="home-area">
        <div class="vcenter">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-8">
                        <div class="header-text">
                            <h2 class="header-title wow fadeInUp">Analog Pen: Best HandWriting Master<span class="dot"></span></h2>
                            <div class="wow fadeInUp" data-wow-delay="0.5s"><q>We Mak Sure Best Business Solution For Our Client</q></div>
                            <div class="wow fadeInUp" data-wow-delay="0.7s">
                                <a href="#contact-area" class="bttn bttn-lg bttn-primary">Contact Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Header-Area-/-->


    <!-- About-Area -->
    <section class="section-padding" id="about-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <div class="page-title">
                        <h2 class="title wow fadeInUp">We Offer Quick &amp; Powerful HandWriting Solution</h2>
                        <div class="wow fadeInUp" data-wow-delay="0.5s">
                            <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you.</p>
                        </div>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.7s">
                        <a href="#" class="bttn bttn-primary">Learn More</a>
                    </div>
                </div>
                <div class="hidden-xs col-sm-6 col-md-offset-1">
                    <img src="../../static/home/images/about-3.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- About-Area / -->


    <section class="section-padding gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="page-title text-center">
                        <h2 class="title">Our Best Service</h2>
                        <p>There are many variations of passages of Lorem Ipsum available.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="service-box">
                        <div class="box-image">
                            <img src="../../static/home/images/service-1.jpg" alt="">
                            <a href="livetext.html" class="box-plus">
                                <i class="icofont icofont-plus"></i>
                            </a>
                        </div>
                        <div class="box-text">
                            <h4>livetext to HandWriting</h4>
                            <p>enter livetext to convert into your HandWriting.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="service-box">
                        <div class="box-image">
                            <img src="../../static/home/images/service-2.jpg" alt="">
                            <a href="textdocument.html" class="box-plus">
                                <i class="icofont icofont-plus"></i>
                            </a>
                        </div>
                        <div class="box-text">
                            <h4>text document to HandWriting</h4>
                            <p>upload digital text document to convert into your HandWriting.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>








    <!-- Skill-Area -->
    <section class="section-padding gray-bg" id="skill-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <div class="page-title">
                        <h2 class="title wow fadeInUp">Our Professional Skill</h2>
                        <div class="wow fadeInUp">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look.</p>
                        </div>
                    </div>
                    <div class="skills skills2 row">
                        <!-- main skill No. 1 -->
                        <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="chart chart2 center" data-percent="95">
                                <span class="counter">95</span>
                            </div>
                            <h6>WebDesign</h6>
                        </div>
                        <!-- main skill No. 2 -->
                        <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="chart chart2 center" data-percent="85">
                                <span class="counter">85</span>
                            </div>
                            <h6>Coding</h6>
                        </div>
                        <!-- main skill No. 3 -->
                        <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.6s">
                            <div class="chart chart2 center" data-percent="90">
                                <span class="counter">90</span>
                            </div>
                            <h6>Developing</h6>
                        </div>
                        <!-- main skill No. 4 -->
                        <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="1.2s">
                            <div class="chart chart2 center" data-percent="95">
                                <span class="counter">95</span>
                            </div>
                            <h6>Java Script</h6>
                        </div>
                        <!-- main skill No. 4 -->
                        <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="1s">
                            <div class="chart chart2 center" data-percent="85">
                                <span class="counter">85</span>
                            </div>
                            <h6>Apps Design</h6>
                        </div>
                        <!-- main skill No. 4 -->
                        <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.8s">
                            <div class="chart chart2 center" data-percent="90">
                                <span class="counter">90</span>
                            </div>
                            <h6>Graphics Script</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-offset-1">
                    <img src="../../static/home/images/skill-3.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Skill-Area / -->




    <!-- Team-Area -->
    <section class="section-padding" id="team-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="text-center">
                        <h2 class="title">Our expert team</h2>
                        <p>There are many variations of passages of Lorem Ipsum available.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="team-box two wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-image">
                            <img src="../../static/home/images/ali.jpg" width="263" height="335" style="width:263px;height:335px" alt="">
                        </div>
                        <div class="team-hover text-center">
                            <h5 class="t_title">Ali Raza</h5>
                            <span class="t_sub_title">Programming Expert</span>
                            <p>At vero eos et accusamus et iusto odio dignissimos.</p>
                            <br />
                            <div class="team-social-menu">
                                <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#"><i class="icofont icofont-social-linkedin"></i></a>
                                <a href="#"><i class="icofont icofont-social-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="team-box two wow fadeInUp" data-wow-delay="0.4s">
                        <div class="team-image">
                            <img src="../../static/home/images/sameer.jpg" width="263" height="335" style="width:263px;height:335px" alt="">
                        </div>
                        <div class="team-hover text-center">
                            <h5 class="t_title">Sameer Ajmal</h5>
                            <span class="t_sub_title">Design Expert</span>
                            <p>At vero eos et accusamus et iusto odio dignissimos.</p>
                            <br />
                            <div class="team-social-menu">
                                <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#"><i class="icofont icofont-social-linkedin"></i></a>
                                <a href="#"><i class="icofont icofont-social-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="team-box two wow fadeInUp" data-wow-delay="0.6s">
                        <div class="team-image">
                            <img src="../../static/home/images/hina.jpg" width="263" height="335" style="width:263px;height:335px" alt="">
                        </div>
                        <div class="team-hover text-center">
                            <h5 class="t_title">Hina Ghafoor</h5>
                            <span class="t_sub_title">web Expert</span>
                            <p>At vero eos et accusamus et iusto odio dignissimos.</p>
                            <br />
                            <div class="team-social-menu">
                                <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#"><i class="icofont icofont-social-linkedin"></i></a>
                                <a href="#"><i class="icofont icofont-social-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="team-box two wow fadeInUp" data-wow-delay="0.8s">
                        <div class="team-image">
                            <img src="../../static/home/images/khizra.jpg" width="263" height="335" style="width:263px;height:335px" alt="">
                        </div>
                        <div class="team-hover text-center">
                            <h5 class="t_title">Khizra Batool</h5>
                            <span class="t_sub_title">Writing Expert</span>
                            <p>At vero eos et accusamus et iusto odio dignissimos.</p>
                            <br />
                            <div class="team-social-menu">
                                <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#"><i class="icofont icofont-social-linkedin"></i></a>
                                <a href="#"><i class="icofont icofont-social-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team-Area / -->




    <!-- Price-Area -->
    <section class="section-padding gray-bg" id="price-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="page-title text-center">
                        <h2 class="title">Pricing Plan</h2>
                        <p>There are many variations of passages of Lorem Ipsum available.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="price-tabs">
                        <li class="active"><a data-toggle="pill" href="#monthly">Monthly</a></li>
                        <li><a data-toggle="pill" href="#yearly">Yearly</a></li>
                    </ul>
                </div>
            </div>
            <div class="row prices tab-content">
                <div id="monthly" class="tab-pane fade in active">
                    <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="price-box">
                            <h4>Basic</h4>
                            <h3 class="amount">&#36;10 /<span>Month</span></h3>
                            <ul class="price-list">
                                <li>Free Useable</li>
                                <li>Easily can useable 10GB</li>
                                <li>Free Secuirity Service</li>
                                <li>Dedicated Useable Account</li>
                            </ul>
                            <a href="#" class="bttn bttn-sm bttn-default">Purchase Now</a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.4s">
                        <div class="price-box active">
                            <h4>Premium</h4>
                            <h3 class="amount">&#36;50 /<span>Month</span></h3>
                            <ul class="price-list">
                                <li>Free Useable</li>
                                <li>Easily can useable 10GB</li>
                                <li>Free Secuirity Service</li>
                                <li>Dedicated Useable Account</li>
                            </ul>
                            <a href="#" class="bttn bttn-sm bttn-default">Purchase Now</a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.6s">
                        <div class="price-box">
                            <h4>Business</h4>
                            <h3 class="amount">&#36;80 /<span>Month</span></h3>
                            <ul class="price-list">
                                <li>Free Useable</li>
                                <li>Easily can useable 10GB</li>
                                <li>Free Secuirity Service</li>
                                <li>Dedicated Useable Account</li>
                            </ul>
                            <a href="#" class="bttn bttn-sm bttn-default">Purchase Now</a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.8s">
                        <div class="price-box">
                            <h4>Ultimate</h4>
                            <h3 class="amount">&#36;100 /<span>Month</span></h3>
                            <ul class="price-list">
                                <li>Free Useable</li>
                                <li>Easily can useable 10GB</li>
                                <li>Free Secuirity Service</li>
                                <li>Dedicated Useable Account</li>
                            </ul>
                            <a href="#" class="bttn bttn-sm bttn-default">Purchase Now</a>
                        </div>
                    </div>
                </div>
                <div id="yearly" class="tab-pane fade">
                    <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="price-box">
                            <h4>Basic</h4>
                            <h3 class="amount">&#36;10 /<span>Year</span></h3>
                            <ul class="price-list">
                                <li>Free Useable</li>
                                <li>Easily can useable 10GB</li>
                                <li>Free Secuirity Service</li>
                                <li>Dedicated Useable Account</li>
                            </ul>
                            <a href="#" class="bttn bttn-sm bttn-default">Purchase Now</a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.4s">
                        <div class="price-box active">
                            <h4>Premium</h4>
                            <h3 class="amount">&#36;50 /<span>Year</span></h3>
                            <ul class="price-list">
                                <li>Free Useable</li>
                                <li>Easily can useable 10GB</li>
                                <li>Free Secuirity Service</li>
                                <li>Dedicated Useable Account</li>
                            </ul>
                            <a href="#" class="bttn bttn-sm bttn-default">Purchase Now</a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.6s">
                        <div class="price-box">
                            <h4>Business</h4>
                            <h3 class="amount">&#36;80 /<span>Year</span></h3>
                            <ul class="price-list">
                                <li>Free Useable</li>
                                <li>Easily can useable 10GB</li>
                                <li>Free Secuirity Service</li>
                                <li>Dedicated Useable Account</li>
                            </ul>
                            <a href="#" class="bttn bttn-sm bttn-default">Purchase Now</a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.8s">
                        <div class="price-box">
                            <h4>Ultimate</h4>
                            <h3 class="amount">&#36;100 /<span>Year</span></h3>
                            <ul class="price-list">
                                <li>Free Useable</li>
                                <li>Easily can useable 10GB</li>
                                <li>Free Secuirity Service</li>
                                <li>Dedicated Useable Account</li>
                            </ul>
                            <a href="#" class="bttn bttn-sm bttn-